[submodule "BKDR"]
	path = BKDR
	url = git@github.com:cryptoEcho/BKDR.git
[submodule "CS50"]
	path = CS50
	url = git@github.com:cryptoEcho/CS50.git
[submodule "c_stepik"]
	path = c_stepik
	url = git@github.com:cryptoEcho/c_stepik.git
